
/env/
/wq_env/
.venv/


__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/


.dvc/cache/
.dvc/tmp/
/data/status.txt


/data/raw/*
/data/processed/*
!/data/raw/.gitignore
!/data/processed/.gitignore
!/data/**/*.dvc


mlruns/
logs/*.log
models/*.joblib
metrics/*.json


.env
.DS_Store
